{% extends 'principal.html'%}


{% block title %}Alterar senha{%endblock%}

{% block main %}
<div class="card w-full max-w-7xl shadow-lg bg-base-100">
    <div class="card-body">
        <h2 class="card-title">Alterar Senha</h2>
        <form id="senhaForm" method="post" autocomplete="off">
            <div class="mb-4 flex flex-col">
                <label for="password" class="label">Senha Atual</label>
                <input id="password" type="password" name="password" class="input input-bordered" autocomplete="off" required />
            </div>
            <div class="flex flex-col gap-4">
                <div class="mb-4">
                <label for="new_password" class="label">Nova Senha</label>
                <div class="relative flex items-center">
                    <input id="new_password" type="password" name="new_password" class="input input-bordered" autocomplete="off" required />
                    <span class="absolute inset-y-0 ml-83 flex items-center cursor-pointer" id="togglePassword">
                    {{eye()}}
                    </span>
                </div>
                <div class="card-footer flex flex-col gap-2 p-4 md:flex-row md:justify-end">
                    <button id="btnCancelar" type="button" onclick="window.location.href='/'" class="btn btn-primary w-full md:w-auto">Cancelar</button>
                    <button id="btnSubmit" type="submit"class="btn btn-success w-full md:w-auto">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block extra_js %}

<script>
    async function handleSubmitSenha(evt) {
        evt.preventDefault(); // Impede o comportamento padrão do formulário

        // Obtendo os dados do formulário
        const form = evt.target; // Corrigido: era `event.target`
        const formData = new FormData(form);

        const id = document.getElementById("id_user").value;

        // Convertendo FormData para um objeto simples
        const data = Object.fromEntries(formData.entries());
        data.id = id;


        // Regex para validar senha
        const passwordRegex = /^(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$%^&*])/;


        if (data.new_password.length < 6) {
            showMessage("A senha deve ter pelo menos 6 caracteres");
            return;
        }

        if (!passwordRegex.test(data.new_password)) {
            showMessage("A senha deve conter pelo menos uma letra maiúscula e um caractere especial");
            return;
        }

        if (!form.checkValidity()) {
            form.reportValidity(); // exibe as mensagens de erro do navegador
            return;
        }

        const url = `/core/update-password/${id}`;
        const method = "put";
        const Content_Type = "application/json";

        showLoader(); // Exibe o loader antes da requisição

        await axios({
            method: method,
            url: url,
            data: data,
            headers: {
                "Content-Type": Content_Type,
            },
        }).then((response) => {
            showMessage(response.data.message);
            setTimeout(() => {hideLoader()}, 2000);
        }).catch((error) => {
            setTimeout(() => {hideLoader()}, 2000);
            const errorMessage = axios.isAxiosError(error) && error.response?.data?.detail
                ? `Erro ao processar requisição: ${error.response.data.detail}`
                : "Erro inesperado";

            showMessage(errorMessage);
            console.error(error);
        });
    }

    document.getElementById("btnSubmitSenha").addEventListener("click", function () {
        const form = document.getElementById("senhaForm");
        const submitEvent = new Event("submit", { cancelable: true, bubbles: true });
        form.dispatchEvent(submitEvent);
    });

    document.getElementById("senhaForm").addEventListener("submit", handleSubmitSenha);
</script>

{% endblock %}