{% extends "principal.html" %}
{% include "components/combobox.html"%}
{% include "components/icons_svg.html"%}

{% block title %}
{% if row %}Editar Usuario{% else %}Novo Usuario{% endif %}
{% endblock %}

{% block main %}
<div class="container mx-auto px-4 py-8">
    {% include 'parts/flash_message.html' %}

    <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title text-2xl mb-6">
                {% if row %}
                <i class="fas fa-edit"></i> Editar Usuario
                {% else %}
                <i class="fas fa-plus"></i> Novo Usuario
                {% endif %}
            </h2>

            <form method="post" class="space-y-6">
                <!-- Seletor de Ação -->
                {% if row %}
                <div class="flex justify-start">
                    <div class="flex justify-center gap-2">
                        <div>
                            <label class="label-text" for="id_acoes">Ação</label>
                            <select id="id_acoes" class="select" name="tipo_solicitacao">
                                <option value="0" selected>Selecione uma ação</option>
                                <option value="1">Alterar Senha</option>
                                <option value="2">Alterar OTP</option>
                            </select>
                        </div>
                        <button id="btnOTP" type="button" title=""
                            class=" bg-gray-200 hover:bg-gray-300 mt-5 hidden items-center justify-center btn btn-active shadow h-9 px-4 py-2">
                            {{ chevrons_right() }}
                        </button>
                    </div>
                </div>
                {% endif %}
                <!-- Checkbox e ID -->
                <div class="col-span-2 md:col-span-1">
                    <div class="flex flex-row gap-4">

                        {% if row %}
                        <div class="col-span-2 md:col-span-1 flex flex-col">
                            <label class="label-text font-semibold">ID</label>
                            <input id="id" name="id" type="text" value="{{ row.id }}" class="input input-bordered"
                                disabled />
                            <input id="id" name="id" type="hidden" value="{{ row.id }}" />
                        </div>
                        {% endif %}

                        <div class="flex flex-col">
                            <label class="" for="is_active">Ativo</label>
                            <input type="checkbox" name="is_active" id="is_active" {% if row and row.is_active %}
                                checked {% endif %} class="peer h-4 w-4 shrink-0 rounded-sm border border-primary
                           ring-offset-background focus-visible:outline-none focus-visible:ring-2
                           focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed
                           disabled:opacity-50" />
                        </div>

                        <div class="flex flex-col">
                            <label class="" for="is_staff">Funcionario</label>
                            <input type="checkbox" name="is_staff" id="is_staff" {% if row and row.is_staff %} checked
                                {% endif %} class="peer h-4 w-4 shrink-0 rounded-sm border border-primary
                           ring-offset-background focus-visible:outline-none focus-visible:ring-2
                           focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed
                           disabled:opacity-50 hover:cursor-pointer" />
                        </div>

                        <div class="flex flex-col">
                            <label class="" for="is_superuser">Super User</label>
                            <input type="checkbox" name="is_superuser" id="is_superuser" {% if row and row.is_superuser
                                %} checked {% endif %} class="peer h-4 w-4 shrink-0 rounded-sm border border-primary
                           ring-offset-background focus-visible:outline-none focus-visible:ring-2
                           focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed
                           disabled:opacity-50" />
                        </div>

                    </div>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

                    <!-- Campos de texto -->
                    <div class="col-span-2 md:col-span-2">
                        <div class="flex flex-col">
                            <label class="label-text" for="id_username">Username</label>
                            <input name="username" id="id_username" class="input min-w-full" {% if row and row.username
                                %} value="{{ row.username }}" {% endif %} autocomplete="false">
                        </div>

                        <div class="flex flex-col">
                            <label class="label-text" for="id_full_name">Nome</label>
                            <input name="full_name" id="id_full_name" class="input min-w-full" {% if row and
                                row.full_name %} value="{{ row.full_name }}" {% endif %}>
                        </div>

                        <div class="flex flex-col">
                            <label class="label-text" for="id_email">Email</label>
                            {% if row %}
                            <input id="id_email" name="email" value="{{ row.email }}" required placeholder="email"
                                class="input min-w-full" />
                            {% else %}
                            <input id="id_email" name="email" required placeholder="email" class="input min-w-full" />
                            {% endif %}
                        </div>
                    </div>

                </div>
                <!-- Datas e QR Code -->
                <div class="grid grid-cols-2 md:grid-cols-1 gap-2">

                    <div class="col-span-2 flex flex-col gap-4 md:flex-row">
                        <div class="mb-4">
                            <label class="label-text" for="id_created_at">Criado</label>
                            <input id="id_created_at" name="created_at"
                                value="{{ row.created_at|format_datetime if row and row.created_at else '' }}"
                                required placeholder="email" class="input min-w-full" disabled />
                        </div>
                        <div class="mb-4">
                            <label class="label-text" for="id_updated_at">Atualizado</label>
                            <input id="id_updated_at" name="updated_at"
                                value="{{ row.updated_at|format_datetime if row and row.updated_at else '' }}"
                                required placeholder="email" class="input min-w-full" disabled />
                        </div>
                        <div class="mb-4">
                            <label class="label-text" for="id_last_login">Último Login</label>
                            <input id="id_last_login" name="last_login"
                                value="{{ row.last_login|format_datetime if row and row.last_login else '' }}"
                                required placeholder="email" class="input min-w-full" disabled />
                        </div>
                    </div>

                    <div class="md:row-span-3 flex flex-col justify-items-center gap-2 mt-4">
                        <div class="mb-4">
                            <label class="label-text" for="id_otp">OTP</label>
                            <img src="{{ qrcode|safe }}" alt="QR Code">
                        </div>
                    </div>

                    <!-- Botões -->
                    <div class="flex gap-4 pt-4">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i>
                            {% if row %}Atualizar{% else %}Criar{% endif %} Permissão
                        </button>

                        <a href="/permissao/permission" class="btn btn-ghost">
                            <i class="fas fa-arrow-left"></i>
                            Voltar à Lista
                        </a>
                    </div>
            </form>
        </div>
    </div>
</div>

<!-- modal senha -->
{% include "permissao/parts/user_modal_senha.html" %}

{% endblock %}

{% block extra_js %}
<script>

  /* document.getElementById("btnCancelar").addEventListener('click', function () {
    var updateUrl = '/core/user';
    window.location.href = updateUrl;
  }); */

  //observer par ações
document.addEventListener("DOMContentLoaded", function () {
  const selectElement = document.getElementById("id_acoes");
  const modelButton = document.getElementById("modelButton");

  // atualizar OTP
  document.getElementById("btnOTP").addEventListener('click', async function () {
    const id = document.getElementById("id_user").value;
    url = `/core/update-otp/${id}`;
    method = "put";
    Content_Type =  'application/json';

    // Envia os dados do formulário usando Axios
    showLoader(); // Exibe o loader antes da requisição
    try{
      await axios({
        method: method,
        url: url
      }).then(function(response) {

        showMessage2(response.data.message);
      })
      .catch(function(error) {
        showMessage2("Erro ao processar requisição: " +error.response?.data?.detail);
        if (axios.isAxiosError(error)) {
          showMessage2("Erro ao processar requisição: " +error.response?.data?.detail);
        } else {
            console.error("Erro inesperado:", error);
            //throw error;
        }
      });
      setTimeout(() => {
        hideLoader(); // Esconde o loader após a requisição
      }, 2000);
    }finally {
      setTimeout(() => {
        hideLoader(); // Esconde o loader após a requisição
      }, 10000);
      setTimeout(() => {
        location.reload();
      }, 3000);
    }
  });


  // Adiciona um listener para capturar mudanças na seleção
  selectElement.addEventListener("change", function () {
    if (selectElement.value == 1) {
      openSenhaModal();
      btnOTP.classList.add("hidden"); // Esconde o botão
    }
    else if (selectElement.value == 2) {
      document.getElementById("btnOTP").classList.toggle("hidden"); 
    }else{
      btnOTP.classList.add("hidden");
    }

  });
});
</script>
{% endblock %}